<header class="flex items-center justify-between min-h-16 w-full border-b bg-white border-b-[#F4F4F4] px-2 dark:bg-[#1C1C1C] dark:border-b-[#272727]">

  <div class="flex items-center gap-2">
    <button (click)="changeStateSidebar()" class="p-1 rounded-full hover:bg-[#00000014] dark:hover:bg-[#ffffff2e] min-h-7 min-w-7">
      @if(signal$.sidebarOpen()) {
        <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="x"></app-svg-icon>
      } @else {
        <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="sidebar"></app-svg-icon>
      }
    </button>

    <h1 class="text-xl text-[#1c1c1c5d] dark:text-white/40">Bienvenido, <span class="text-2xl font-medium text-black dark:text-white">Miguel Angel Bissuett</span></h1>
  </div>

  <div class="flex items-center gap-2">
    <button class="p-1 rounded-full hover:bg-[#00000014] dark:hover:bg-[#ffffff2e] min-h-7 min-w-7" (click)="changeThemeState()">
      @if(signal$.themeIsDark()) {
        <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="moon"></app-svg-icon>
      } @else {
        <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="sun"></app-svg-icon>
      }
    </button>
    <button class="p-1 rounded-full hover:bg-[#00000014] dark:hover:bg-[#ffffff2e] min-h-7 min-w-7">
      <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="bell"></app-svg-icon>
    </button>
    <button class="p-1 rounded-full hover:bg-[#00000014] dark:hover:bg-[#ffffff2e] min-h-7 min-w-7" (click)="changeStateConfigSidebarOpen()">
      <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="gear"></app-svg-icon>
    </button>
  </div>

</header>