<section class="w-full h-full grid grid-cols-2 gap-2 p-2">

  <section class="col-span-1 p-2 bg-white dark:bg-[#1c1c1c] w-full shadow rounded-md flex flex-col gap-4">
    <div class="w-full flex items-center justify-center">
      <img class="border-2 rounded-full border-[#F4F4F4] dark:border-[#272727]" src="avatars/Erick.png" alt="avatar">
    </div>

    <div class="w-full flex items-center justify-center">
      <span class="text-black dark:text-white">Administrador</span>
    </div>

    <div class="w-full flex items-center justify-center">
      <ul>
        <li class="text-lg font-semibold text-black dark:text-white">Nombre: <span class="text-base font-normal">Miguel Angel Bissuett Lira</span></li>
        <li class="text-lg font-semibold text-black dark:text-white">Usuario: <span class="text-base font-normal">MiguelBissuett729</span></li>
        <li class="text-lg font-semibold text-black dark:text-white">Telefono: <span class="text-base font-normal">+526563541200</span></li>
        <li class="text-lg font-semibold text-black dark:text-white">Correo electronico: <span class="text-base font-normal">{{'miguelangel.292020@gmail.com'}}</span></li>
      </ul>
    </div>
  </section>

  <section class="col-span-1 bg-white dark:bg-[#1c1c1c] w-full shadow rounded-md flex flex-col items-center p-4">
    <div class="flex items-center gap-4 w-full justify-start">
      <div class="flex items-center">
        <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="userRectangle"></app-svg-icon>
        <span class="text-black dark:text-white">Nombre completo:</span>
      </div>

      <div class="flex items-center p-1 border border-[#ededed] dark:border-[#2f2f2f] rounded-md max-h-8 gap-2">
        <input class="outline-none bg-transparent" type="text" placeholder="Nombre completo...">
      </div>
    </div>

    <div class="flex items-center gap-4 w-full justify-start">
      <div class="flex items-center">
        <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="userRectangle"></app-svg-icon>
        <span class="text-black dark:text-white">Correo eletronico:</span>
      </div>

      <div class="flex items-center p-1 border border-[#ededed] dark:border-[#2f2f2f] rounded-md max-h-8 gap-2">
        <input class="outline-none bg-transparent" type="text" placeholder="Correo eletronico...">
      </div>
    </div>

    <div class="flex items-center gap-4 w-full justify-start">
      <div class="flex items-center">
        <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="userRectangle"></app-svg-icon>
        <span class="text-black dark:text-white">Telefono:</span>
      </div>

      <div class="flex items-center p-1 border border-[#ededed] dark:border-[#2f2f2f] rounded-md max-h-8 gap-2">
        <input class="outline-none bg-transparent" type="text" placeholder="Telefono...">
      </div>
    </div>

    <div class="flex items-center gap-4 w-full justify-start">
      <div class="flex items-center">
        <app-svg-icon customClass="fill-black dark:fill-white h-[20px] w-[20px]" name="userRectangle"></app-svg-icon>
        <span class="text-black dark:text-white">Nombre de usuario:</span>
      </div>

      <div class="flex items-center p-1 border border-[#ededed] dark:border-[#2f2f2f] rounded-md max-h-8 gap-2">
        <input class="outline-none bg-transparent" type="text" placeholder="Nombre de usuario...">
      </div>
    </div>
  </section>

</section>